html{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body{
  text-align: center;
  background-color: #222; 
  color: #964;
  font-family: "Helvetica";
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

a, a:visited{
 color: #ccc;
 text-decoration: none; 
}

a:hover{
  color: #fff;
}

a:active{
  color: #999;
}

p{
  color: #fff;
}

h1{
 padding: 0;
 margin: 0;
}

[id="app"]{
  height: 100%;
  width: 100%;
}

.battle-menu, .desc-menu{
  background-color: #964;
  font-weight: bold;
  color: white;
  border-width: 5px;
  border-color: #432;
  border-style: solid;
}

.battle-menu{
   width: 20%;
   max-width: 400px;
   min-width: 200px;
}

.battle-menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.battle-menu li{
  border-width: 0 0 1px 0;
  border-color: #88603a;
  border-style: solid;
  margin: 0 6px;
}

.battle-menu li > .inner{
  text-align: left;
  margin: 4px 0;
  padding: 0 4px;
}

.battle-menu li:last-of-type{
  border-style: none;
  margin-bottom: 0;
}

.battle-menu li:hover > .inner{
  background-color: #a87045;
}

.desc-menu{
  width: 95%;
}

.characters, .enemies, .party{
  height: 100%;
}

.character{
  z-index: -5;
}

.party .character{
  background-color: green;
}

.enemies .character{
  background-color: red;
}